.menu_active{
    font-weight: bold;
    border-bottom: 2px solid white;
}

.navbar-brand{
    margin-right: 100px;
    font-weight: bolder;
}

.item_margin{
    margin-left: 50px;
}

.auth{
    margin-left: 100px;
}